a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #E6EDF3; /* Adjusting the color for dark mode */
}

    a.navbar-brand:hover, a.navbar-brand:focus {
        color: #E6EDF3; /* Lighter color for hover/focus state */
    }

html {
    font-size: 14px;
}

/* Updating box shadow to be more visible on dark background if needed */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(255, 255, 255, .05); /* Lighter shadow for dark mode */
}

/* Additional styles for navbar background and link colors */
.navbar {
    background-color: #02040A; /* Dark color for navbar background */
    border-bottom: 1px solid #30363D;
}

.navbar-dark {
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.5);
}

/* Update navbar link colors */
.navbar-nav .nav-link {
    color: #E6EDF3; /* Light color for nav links */
}

    .navbar-nav .nav-link:hover {
        background-color: #171B20;
        border-radius: 5px;
    }

.nav-link {
    margin-left: 10px;
}

.navbar-toggler, .navbar-toggler:focus {
    box-shadow: 0 0 0 0rem;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon-text .react-icon {
        margin-right: 0.5em;
    }

.terminal-button {
    background-color: #238636; /* Button color */
    color: #E6EDF3;
    padding: 0px 10px;
    border-radius: 5px;
    border-style: none;
    min-height: 35px;
}

    .terminal-button:hover {
        background-color: #2DA042;
    }
