body.is-terminal {
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Assuming .terminal is the class for your terminal component */
.terminal {
    width: 100vw;
    height: 100vh;
    color: #FFF;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    white-space: pre;
    padding: 10px;
}

/* Full container for terminal output */
.terminal-body {
    flex-grow: 1; /* Allows this div to grow and fill space */
    overflow-y: auto; /* Adds scroll if content is too long */
}

.terminal-output {
    font-family: inherit;
    font-size: inherit;
    white-space: inherit;
    margin: 0px;
}

/* Full-width input field */
.terminal-input {
    width: auto;
    background-color: inherit;
    color: #FFF;
    font-family: inherit;
    font-size: inherit;
    white-space: inherit;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.terminal-input-container {
    display: flex; /* Align input and cursor inline */
    align-items: center;
    width: 100%;
}

.terminal-prompt {
    font-family: inherit;
    font-size: inherit;
    white-space: inherit;
    margin: 0px 0px 10px 0px;
}

.terminal-cursor {
    display: inline;
    width: 8px;
    height: 1em;
    background-color: #FFF;
    animation: blink 1.5s step-end infinite;
    margin: 0px 0px 10px 0px;
}

.ascii-art {
    color: #FFF;
    font-family: 'Courier New', monospace;
    font-size: 8px; /* Smaller font size for mobile devices */
    white-space: pre; /* Allow the art to wrap if needed */
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ascii-art-fade-in {
    animation: fadeIn 4s ease-out forwards;
}

.ascii-art-name {
    position: absolute;
    left: 10px; /* Start text from the left edge or center it as needed */
    white-space: nowrap; /* Prevent the name from wrapping */
    /* Default position */
    top: 18em;
}

/* For tablets+ */
@media (min-width: 768px) {
    .ascii-art {
        font-size: 15px; /* Slightly larger font size for tablets */
    }
    .ascii-art-name {
        left: 375px;
        top: 10em;
    }
}

.command-entry {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}

.command-description {
    text-align: left; /* Align descriptions to the right */
    word-wrap: break-word; /* Allow long words to break and wrap */
    white-space: normal; /* Ensures text wraps */
}

.command-name {
    text-align: left; /* Align commands to the left */
}
